h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, sans-serif;

}

.logo {
	max-width: 100px;
	padding-left: 3%;
}

nav {
	text-decoration: none;
	padding-right: 10%;
	padding-top: 50px;
}



header {
	color: white;
	background-image: url("../images/cropped_sunset_marsh.jpg");
	min-height: 300px;
}

.web-design {
	padding-left: 50px;
	padding-right: 50px;
	max-height: 300px;s
}

.web-design-image {
	display: inline-block;
	padding-right: 50px;
	max-height: 400px;
	max-width: 500px;
}

.identity {
	background-color: #e9e2e1;
	padding-top: 20px;
}

.identity-image {
	display: inline-block;
	padding-left: 100px;
	max-height: 200px;
}


#photography-section {
	padding-left: 50px;
	padding-right: 50px;
}

#photography-image {
	display: inline-block;
	padding-left: 50px;
}

footer {
	margin: auto;
}